<p style="color: green"><%= notice %></p>

<h1>Users</h1>
<hr/>
<table id="users">  
  <% @users.each do |user| %>
    <tr>
      <div class="d-flex mb-2">

        <div class="border col-2 me-3"><%= user.photo %></div>

        <div class="border col-9 p-2">
          <h2>
            <%= link_to user.name, user %>
          </h2>
          <p align="right">
            Number of posts: 
            <%= user.postscounter %>
          </p>
        <div>
        
      </div>
    </tr>
  <% end %>
</table>

